<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../styles/index.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <div class="refresh">Refresh</div>
        <div class="generate">Generate</div>
      </div>
      <div class="body">
        <div class="ListContainer">
          <div class="songList">
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="navContainer">
          <div class="previous"></div>
          <div class="pause"></div>
          <div class="next"></div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="../scripts/index.js" ></script>
</html>
