<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../styles/normalize.css">
    <link rel="stylesheet" type="text/css" href="../styles/index.css">
  </head>
  <body>
    <div id="sidebar">
      <input id="search" placeholder="Search..."></input>
      <div id="albumArt">
        <div id="albumArtFiller"></div>
        <div id="albumArtContainer">
          <img id="albumArtImage" />
        </div>
      </div>
      <div id="artistListContainer"></div>
    </div>
    <div id="content">
    </div>
    <div id="footer">
      <div id="progressBar"><div id="curProgress"></div></div>
      <div id="navContainer">
        <div class="navButton previous" id="previous"></div>
        <div class="navButton pause" id="pause"></div>
        <div class="navButton next" id="next"></div>
      </div>
      <div id="volumeContainer">
        <input type="range" id="volumeSlider" min="0" max="100" value="100" />
      </div>
    </div>
  </body>
  <script type="text/javascript" src="../scripts/index.js"></script>
</html>
