<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../styles/index.css">
  </head>
  <body>
    <div class="header">
      <div class="artists"></div>
    </div>
    <div class="content">
      <div class="songList">
      </div>
    </div>
    <div class="footer">
      <div class="progressBar"></div>
      <div class="navContainer">
        <div class="navButton previous"></div>
        <div class="navButton pause"></div>
        <div class="navButton next"></div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="../scripts/index.js" ></script>
</html>
