<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../styles/normalize.css">
    <link rel="stylesheet" type="text/css" href="../styles/settings.css">
  </head>
  <body>
    <!-- HEADER -->
    <ul class="settingsTabHeader">
      <li class="settingsTab settingsTabSelected">General</li>
      <li class="settingsTab">Hotkeys</li>
      <li class="settingsTab">Layout</li>
      <li class="settingsTab">Library</li>
    </ul>
    <!-- GENERAL SETTINGS -->
    <div class="settingsTabContents settingsTabContentsSelected generalSettings">
      <table class="settingsTable">
        <tr class="settingRow">
          <td class="label">Music Folders</td>
          <td class="setting"><textarea rows="5" class="importFolders"></textarea></td>
        </tr>
        <tr>
          <td class="label">Minimize on Close?</td>
          <td class="setting"><input type="checkbox" class="minimizeOnClose" /></td>
        </tr>
      </table>
    </div>
    <!-- HOTKEY SETTINGS -->
    <div class="settingsTabContents hotkeySettings">
      <table class="settingsTable">
        <tr>
          <td class="label">Play/Pause Hotekey</td>
          <td class="setting"><input type="text" class="playPauseInput" /></td>
        </tr>
        <tr>
          <td class="label">Previous Track Hotkey</td>
          <td class="setting"><input type="text" class="previousTrackInput" /></td>
        </tr>
        <tr>
          <td class="label">Next Track Hotkey</td>
          <td class="setting"><input type="text" class="nextTrackInput" /></td>
        </tr>
      </table>
    </div>
    <!-- LAYOUT SETTINGS -->
    <div class="settingsTabContents layoutSettings">
      <table class="settingsTable">
        <tr>
          <td class="label">Track Grouping Method</td>
          <td class="setting">
            <select type="text" class="trackGroupingMethod">
              <option value="albumArtist">Album Artist</option>
              <option value="artist">Artist</option>
              <option value="album">Album</option>
            </select>
          </td>
        </tr>
      </table>
    </div>
    <!-- LIBRARY SETTINGS -->
    <div class="settingsTabContents librarySettings">library settings</div>
    <div class="saveClose">
      <div class="saveCloseButton saveButton">Save</div>
      <div class="saveCloseButton closeButton">Close</div>
    </div>

  </body>
  <script type="text/javascript" src="../scripts/settings.js" ></script>
</html>
