<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <script>
      var React = require('react');
      var ReactDOM = require('react-dom');
    </script>
    <link rel="stylesheet" type="text/css" media="screen" href="http://w2ui.com/web/js/w2ui-1.3a.min.css" />

    Generate: 
    <input type="button" value="25K Records" onclick="generate(25)">
    <input type="button" value="250K Records" onclick="generate(250)">
    <input type="button" value="1MIL Records" onclick="generate(1000)">

    <div id="grid"></div>

  </body>
  <script type="text/javascript" src="../scripts/test.js" ></script>
</html>
