/*MAIN COMPONENTS*/
#sidebar {
  float: left;
  height: calc(100vh - 60px);
  min-width: 200px;
  position: fixed;
  width: 20%;
}

#content {
  border-left: 1px solid black;
  height: calc(100vh - 60px);
  left: 20%;
  position: absolute;
  width: calc(80% - 1px);
}

#footer {
  border-top: 1px solid black;
  bottom: 0;
  height: 65px;
  position: fixed;
  width: 100%;
}

/*SIDEBAR COMPONENTS*/
#search {
  display: block;
  height: 25px;
  margin: 5px auto;
  outline: none;
  padding: 2px 5px;
  width: 90%;
}

#artistListContainer {
  border-top: 1px solid black;
  height: calc(60% - 25px);
  overflow-y: auto;
}

.artistListEmpty {
  padding: 5px;
}

.artistEntry, .artistEntryAlternate {
  background-color: #fff;
  cursor: default;
  overflow: hidden;
  padding: 2px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.artistEntryAlternate {
  background-color: #ccc;
}

#albumArt {
  border-top: 1px solid black;
  width: 100%;
  height: calc(40% - 25px);
  text-align: center;
  background-color: #333;
}

#albumArtImage {
  min-width: 200px;
  height: 100%;
}

/*FOOTER COMPONENTS*/
#progressBar {
  background-color: #ccc;
  box-shadow: 0 -2px 5px grey;
  cursor: pointer;
  height: 5px;
  margin-bottom: 5px;
  width: 100%;
}

#curProgress {
  background-color: orange;
  height: 5px;
  width: 100%;
}

#navContainer {
  display: block;
  float: left;
  height: 50px;
  width: 400px;
}

#volumeContainer {
  display: block;
  float: left;
  height: 100%;
  width: 200px;
}

#volumeSlider {
  -webkit-appearance: none;
  background-color: silver;
  height: 5px;
  outline: none;
  width: 200px;
}

#volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #666;
  width: 10px;
  height: 26px;
}

.navButton {
  display: block;
  float: left;
  height: 50px;
  width: 50px;
  padding: 0 3px;
}

#previous {
  background: url("../assets/previous.svg") no-repeat left top;
}

#next {
  background: url("../assets/next.svg") no-repeat left top;
}

#pause {
  background: url("../assets/play.svg") no-repeat left top;
}

#shuffle {
  background: url("../assets/repeat.svg") no-repeat left top;
}

/*CONTENT COMPONENTS*/
.songListContainer {
  height: 100%;
}

.songList {
  height: calc(100% - 26px);
  overflow-y: auto;
}

.songListEmpty {
  line-height: 90vh;
  text-align: center;
}

.songListItem, .songListItemAlternate, .songListHeader, .songListSeparator {
  -webkit-user-select: none;
  background-color: #fff;
  cursor: default;
  height: 25px;
  line-height: 25px;
  width: 100%;
}

.songListSeparator {
  border-bottom: 1px solid black;
  font-weight: bold;
  margin-top: 25px;
  padding-left: 5px;
  width: 80%;
}

.songListHeader {
  border-bottom: 1px solid black;
  font-weight: bold;
  width: calc(100% - 12px); /*Take scrollbar into account*/
}

.songListItemAlternate {
  background-color: #ccc;
}

.songListItemSelected {
  background-color: #555;
}

.rowItem {
  float: left;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 5px;
}

.rowIndex {
  visibility: hidden;
  width: 0;
}

.rowPlaying {
  border-right: 1px solid #aaa;
  width: 20px;
}

.rowCurrentlyPlaying {
  background: url("../assets/volume.svg") no-repeat left top;
}

.rowArtist {
  border-right: 1px solid #aaa;
  width: 20%;
}

.rowAlbum {
  border-right: 1px solid #aaa;
  width: 20%;
}

.rowTitle {
  border-right: 1px solid #aaa;
  width: 30%;
}

.rowDuration {
  width: 10%;
}

/*SCROLLBARS*/
::-webkit-scrollbar {
  width: 12px;
  background-color: #aaa;
}

::-webkit-scrollbar-button {
  background-color: #666;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
}
