body {
  padding: 0;
  margin: 0;
}

.header {
  border-bottom: 1px solid black; 
  height: 70px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
}

.body {
  height: 100% - 140px;
}

.footer {
  border-top: 1px solid black;
  bottom: 0;
  height: 70px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.navContainer {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.previous {
  background: url("../assets/previous.svg") no-repeat right top;
  border: 1px solid #eee;
  float: left;
  height: 50px;
  margin: 5px;
  width: 50px;
}

.next {
  background: url("../assets/next.svg") no-repeat right top;
  border: 1px solid #eee;
  float: left;
  height: 50px;
  margin: 5px;
  width: 50px;
}

.pause {
  background: url("../assets/play.svg") no-repeat right top;
  border: 1px solid #eee;
  float: left;
  height: 50px;
  margin: 5px;
  width: 50px;
}

.songListContainer {
  overflow-y: scroll;
}

.songListItem, .songListItemAlternate {
  background-color: #fff;
  height: 25px;
  line-height: 20px;
  width: 100%;
}

.songListItemAlternate {
  background-color: #ccc;
}

.rowItem {
  height: 100%;
  padding: 1px;
  float: left;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
  cursor: default;
}

.rowArtist {
  width: 15%;
  border-right: 1px solid #aaa;
}

.rowTitle {
  width: 30%;
  border-right: 1px solid #aaa;
}

.rowDuration {
  width: 20%;
  border-right: 1px solid #aaa;
}

.rowPath {
  width: 20%;
  visibility: hidden;
}
