.settingsTabHeader {
   background-color: #333;
   clear: both;
   float: left;
   height: 30px;
   list-style: none;
   margin: 0 0 5px;
   padding: 0;
   width: 100%;
}

.settingsTab {
  -webkit-user-select: none;
  background-color: #333;
  color: #eee;
  cursor: default;
  float: left;
  height: 30px;
  line-height: 30px;
  margin-right: 5px;
  padding: 0 10px;
}

.settingsTabSelected {
  background-color: #fff;
  color: #333;
}

.settingsTabContents {
  display: none;
  padding: 20px 5px;
}

.settingsTabContentsSelected {
  display: block;
}

.settingsTable {
  width: 100%;
}

.label {
  width: 40%;
  padding: 5px;
  border-right: 1px solid #777;
}

.setting {
  text-align: center;
}

.libraryButton {
  background-color: #ccc;
  outline: none;
}

.hotkeyInput {
  outline: none;
}

.saveClose {
  background-color: #333;
  bottom: 0;
  height: 35px;
  left: 0;
  padding: 5px;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 5;
}

.saveCloseButton {
  z-index: 8;
  background-color: #ccc;
  cursor: default;
  display: inline-block;
  font-weight: bold;
  line-height: 30px;
  margin: 0 10px;
  padding: 0 10px;
  width: 50px;
}

.noticePopup {
  -webkit-transition: 1.5s;
  background-color: green;
  bottom: 25px;
  display: block;
  font-weight: bold;
  height: 20px;
  left: 25%;
  line-height: 20px;
  position: fixed;
  text-align: center;
  transition: 1.5s;
  width: 50%;
  z-index: 0;
}

.noticePopup.show {
  -webkit-transition: 1.5s;
  bottom: 45px;
  transition: 1.5s;
}
