body {
  margin: 5px;
}

.settingsTable {
  width: 100%;
}

.label {
  width: 30%;
  padding: 5px;
  border-right: 1px solid #777;
}

.setting {
  text-align: center;
}

.hotkeyInput {
  outline: none;
}

.saveClose {
  background-color: #333;
  width: 400px;
  height: 40px;
  padding: 5px;
  position: fixed;
  bottom: 0;
  left: 0;
  vertical-align: middle;
}

.saveCloseButton {
  height: 30px;
  margin: auto;
  display: inline-block;
}
